@keyframes button {
    from {width: 0%;}
    to {width: 100%;}
}

@keyframes text {
    from {color: black;}
    to {color: white;}
}

.nier-button {
    color: #363636;
    transition: color 300ms;
}

.nier-button:hover {
    color: #f0f0f0;
    cursor: pointer;
}

.nier-button::before {
    content: '';
    width: 0%;
    height: 100%;
    background-color: #575757;
    transition: width 300ms;
}

.nier-button:hover::before {
    width: 100%;
}

.nier-button-side {
    
}

.nier-button-side:hover {
    
}