.nier-button {
    align-items: center;
    color: #363636;
    padding: 7px 0px;
    background-color: lightgrey;
    background-clip: content-box;
    border-width: 0px 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    transition: 300ms;
}

.nier-button:hover {
    cursor: pointer;
    color: white;
    border-width: 3px 0px;
    border-color: grey;
    padding: 4px 0px;
}

.nier-button-content {
    position: absolute;
    align-items: center;
}

.nier-button::before {
    content: '';
    width: 0%;
    height: 100%;
    background: grey;
    transition: 300ms;
}

.nier-button:hover::before {
    width: 100%;
    box-shadow: 2px 2px 5px grey;
}
